<!DOCTYPE html>
<html lang="en">
<head>
  <title>test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/commondashboardstyle.css">
  
</head>
<body>
<script type="text/javascript" src="../../js/jquery-3.5.1.js"></script>
<script src="../../js/extras/jquery.validate.js"></script>
  <script type="text/javascript" src="../../js/teacher/manageteacher.js"></script>
  <div class="row">
    <div class="col-md-12">
      <a href="../index.html"><img src="../../images/header.jpg" width=100% alt="no"></a>
    </div>
  			
    <div class="middle">
      <div class="menu">
        <li class="item" id='profile'>
            <a href="#profile" class="btn"><i class="far fa-user"></i>Profile</a>
            <div class="smenu">
              <a href="teacherprofile.html">Update Profile</a>
              
            </div>
        </li>

        <li class="item" id="messages">
            <a href="#messages" class="btn"><i class="far fa-envelope"></i>Upload</a>
              <div class="smenu">
                <a href="teachernotice.html">Upload Notice</a>
                <a href="teachernote.html">Upload Note</a>
                <a href="teacherassignment.html">Upload Assignment</a>
                <a href="teachergrade.html">Upload Grade</a>
                <a href="updatenotice.html">Update Notice</a>
              </div>
         </li>

         <li class="item" id="settings">
          <a href="#settings" class="btn"><i class="fas fa-cog"></i>Check</a>
            <div class="smenu">
              <a href="checkgrade.html">Check Grade</a>
              <a href="checknotice.html">Check Notice</a>
              <a href="updategrade.html">Update Grade</a>
              
            </div>
        </li>

        <li class="item">
             <a class="btn" href="../login.html"><i class="fas fa-sign-out-alt"></i>Logout</a>
         </li>


      </div>
  </div>
</div>

  		<!-- Page Content -->
			<div style="margin-left:8%" >

				<a href="teacherdashboard.html">Back to Home</a>
				<br>
        <br>
        <form action="" method="" id="update_teacher_form">
				<fieldset>
					<h4>Teacher Profile</h4>
				<table >
          
          
  
          <tr>
            <td>
              <label>Teacher ID:</label>
            </td>
            <td>
              <input type="text" name="teacherid" id="teacherid" readonly>
            </td>
          </tr>
  
          <tr>
            <td>
              <label>Teacher Name:</label>
            </td>
            <td>
              <input type="text" name="teachername" id="teachername">
            </td>
          </tr>
  
          <tr>
            <td>
              <label>Teacher Password:</label>
            </td>
            <td>
              <input type="Password" name="teacherpassword" id="teacherpassword">
            </td>
          </tr>

          <tr>
            <td>
              <label>Teacher Blood Group:</label>
            </td>
            <td>
              <select id="teacherbg" name="teacherbg">
                <option selected>Select One</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="A-">A-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Teacher Email:</label>
            </td>
            <td>
              <input type="Email" name="teacheremail" id="teacheremail">
            </td>
          </tr>
          <tr>
            <td>
              <label>Subject Taking:</label>
            </td>
            <td>
              <select name="subjectid" id="subjectid">
              
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Teacher Phone Number:</label>
            </td>
            <td>
              <input type="text" name="teacherphone" id="teacherphone">
            </td>
          </tr>
          <tr>
            <td>
              <label>Teacher Salary:</label>
            </td>
            <td>
              <input type="text" name="teachersalary" id="teachersalary" readonly>
            </td>
          </tr>
          <tr>
            <td>
              <label>Class:</label>
            </td>
            <td>
              <select name="classid" id="classid" readonly>

              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label>Section</label>
            </td>
            <td>
              <select name="sectionid" id="sectionid" readonly>

              </select>
            </td>
          </tr>
          <tr>
            <td>
              <!--<button id="updateteacherbtn"> Update</button>-->
              <br>
              <input class="submit" type="submit" value="Update" id="updateteacherbtn" style="margin-left:150px">
              <div id="updatemessage">
                
              </div>
            </td>
            
          </tr>
        </table>



        </fieldset>
      </form>
			</div>
</body>
</html>