<!DOCTYPE html>
<html lang="en">
<head>
  <title>test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/commondashboardstyle.css">
  
</head>
<body>
  <script type="text/javascript" src="../../js/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="../../js/admin/managesection.js"></script>

  <div class="row">
    <div class="col-md-12">
      <a href="../index.html"><img src="../../images/header.jpg" width=100% alt="no"></a>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-4">
      
    
      <div class="middle">
        <div class="menu">
          <li class="item" id='profile'>
              <a href="#profile" class="btn"><i class="far fa-user"></i>Profile</a>
              <div class="smenu">
                <a href="updateadminprofile.html">Update Profile</a>
                <a href="createteacher.html">Create Teacher Profile</a>
                <a href="createstudent.html">Create Student Profile</a>
                
              </div>
          </li>

          <li class="item" id="messages">
              <a href="#messages" class="btn"><i class="far fa-envelope"></i>Manage</a>
                <div class="smenu">
                  <a href="manageteacher.html">Manage Teacher</a>
                  <a href="managestudent.html">Manage Student</a>
                  <a href="manageclass.html">Manage Classes</a>
                  <a href="managesection.html">Manage Section</a>
                  <a href="createsection.html">Create Section</a>
                  <a href="updatesection.html">Update Section</a>
                </div>
          </li>

          <li class="item" id="settings">
            <a href="#settings" class="btn"><i class="fas fa-cog"></i>Check</a>
              <div class="smenu">
                <a href="updateteacher.html">Update Teacher Information</a>
                <a href="updatestudent.html">Update Student Information</a>
                <a href="updatesection.html">Update Section</a>
                <a href="finantialreport.html">Check Financials</a>
                <a href="createnotice.html">Create Notice</a>
                <a href="managenotices.html">Manage Notices</a>
              </div>
          </li>


          <li class="item">
               <a class="btn" href="../login.html"><i class="fas fa-sign-out-alt"></i>Logout</a>
           </li>

  
        </div>
    </div>
  </div>
    
      <div class="col-md-2" style="margin-top: 30px">
        <table border="1" id="sectiontable">
          <tr>
            
            <th>
              Class Name
            </th>
            <th>
              Section Name
            </th>
          </tr>
        </table>
      </div>

  
    <div class="col-md-3"style="margin-top: 30px">
            <table>
              <tr>
                <td>
                  <label>Select One Class:</label>
                </td>
                <td>
                  <select id="dropdownclasses">
              
            </select>
                </td>
              </tr>
            </table>
            <table border="1" id="sectionbyclass">
          <tr>
            
            <th>
              Class Name
            </th>
            <th>
              Section Name
            </th>
          </tr>
        </table>
    </div>

    <div class="col-md-3"style="margin-top: 30px">
            <table>
              <tr>
                <td>
                  <label>Select One Class:</label>
                </td>
                <td>
                  <select id="dropdownclass">
              
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label>Select One Section:</label>
                </td>
                <td>
                  <select id="dropdownsections">
              
                  </select>
                </td>
              </tr>
            </table>
            <table border="1" id="specificsectionbyclass">
          <tr>
            
            <th>
              Class Name
            </th>
            <th>
              Section Name
            </th>
          </tr>
        </table>
    </div>
  </div>

</body>
</html>
