<!DOCTYPE html>
<html lang="en">
<head>
  <title>test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/commondashboardstyle.css">
  
</head>
<body>

  <div class="row">
    <div class="col-md-12">
      <img src="../images/header.jpg" width=100%>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      
    </div>
    
  </div>

  <div class="row" style="margin-top: 30px">
    <div class="middle">
              <div class="menu">
                <li class="item" id='profile'>
                    <a href="#profile" class="btn"><i class="far fa-user"></i>Profile</a>
                    <div class="smenu">
                      <a href="#">Update Profile</a>
                      
                    </div>
                </li>

                <li class="item" id="messages">
                    <a href="#messages" class="btn"><i class="far fa-envelope"></i>Manage</a>
                      <div class="smenu">
                        <a href="#">Manage SuperAdmin</a>
                        <a href="#">Create Admin</a>
                        <a href="#">Update Admin</a>
                      </div>
                 </li>

                <li class="item" id="settings">
                    <a href="#settings" class="btn"><i class="fas fa-cog"></i>Settings</a>
                      <div class="smenu">
                        <a href="#">Update Password</a>
                      </div>
                </li>

                <li class="item">
                     <a class="btn" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
                 </li>

        
              </div>
          </div>
    
      <div class="col-md-2">
        
      </div>

  
    <div class="col-md-2">
      <table border="1">
        <tr>
          <td>
            jhadbjadbv
          </td>
          <td>
            kjavbjahvbaks
          </td>
        </tr>
      </table>
    </div>
    
  

  
    <div class="col-md-4">
      <table border="1">
        <tr>
          <td>
            jhadbjadbv
          </td>
          <td>
            kjavbjahvbaks
          </td>
        </tr>
      </table>
    </div>
    
  </div>

</body>
</html>
