<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <link rel="stylesheet" href="../css/loginstyle.css">

</head>
<body>

  <script type="text/javascript" src="../js/jquery-3.5.1.js"></script>
  

  <!-- <form action="" class="login-form" id="login_form"> -->
    <div class="login-form">
    <h1>Sign In</h1>
    <div class="textb">
      <input type="text" id="userid" required>
      <div class="placeholder">User ID</div>
    </div>

    <div class="textb">
      <input type="password" id="password" required>
      <div class="placeholder">Password</div>
      <div class="show-password fas fa-eye-slash"></div>
    </div>

    <!-- <div class="checkbox">
      <input type="checkbox">
      <div class="fas fa-check"></div>
      Stay signed in
    </div> -->
    <div id="message" name="message"></div>

    <button class="btn fas fa-arrow-right" id="submit_button" disabled></button>
    <!-- <button id="submit_button">Login</button> -->
    <a href="#">Can't Sign in?</a>
  </div>
  <!-- </form> -->

  <script>
    var fields = document.querySelectorAll(".textb input");
    var btn = document.querySelector(".btn");
    function check(){
      if(fields[0].value != "" && fields[1].value != "")
        btn.disabled = false;
      else
        btn.disabled = true;  
    }

    fields[0].addEventListener("keyup",check);
    fields[1].addEventListener("keyup",check);

    document.querySelector(".show-password").addEventListener("click",function(){
      if(this.classList[2] == "fa-eye-slash"){
        this.classList.remove("fa-eye-slash");
        this.classList.add("fa-eye");
        fields[1].type = "text";
      }else{
        this.classList.remove("fa-eye");
        this.classList.add("fa-eye-slash");
        fields[1].type = "password";
      }
    });
  </script>
  <script type="text/javascript" src="../js/login/login.js"></script>
</body>
</html>